.skills-card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 5px 5px;
    font-style: normal;
    font-size: 20px;
    border-radius: 8px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
   
   .skills-card:hover {
    background: repeating-linear-gradient(to top left, #65656c 0%, #9b9b9b 100%);
   
   }
   
   .skills-card > div {
       /* border: 1px solid blue; */
    width: 45%;
   
   }
   
   .skills-card img {
    width: 100%;
    display: block;
    margin: auto;
   }
   
   /* small screens */
   @media all and (min-width: 280px) and (max-width: 767px) {
    .skills-card {
     width: 100px;
     padding: 5px 5px;
    }
   
    .skills-card > div {
     width: 45%;
   
    }
   }