.skills-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	padding: 5px 5px;
	font-style: normal;
	font-size: 20px;
	border-radius: 8px;
	background-color: rgb(166, 210, 240);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: background-color 0.3s ease;
}

.skills-card:hover {
	background-color: #7cb3d5;
}

.skills-card>div {
	width: 50%;
}

.skills-card img {
	width: 100%;
	display: block;
	margin: auto;
}

.skills-card-name {
	font-weight: 500;
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
	.skills-card {
		width: 100%;
		padding: 5px 5px;
		justify-content: space-between;
	}

	.skills-card>div {
		width: 50%;
	}
}