.contact-main {
  background-color: #e0eff8;
  padding: 20px 0;
}

/* heading wrapper css */
.headingwrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactheading {
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  text-decoration: underline;
  text-decoration-color: teal;
  text-decoration-style: line;
  text-underline-offset: 10px;
}

.headingwrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingwrapperDivLeft img {
  width: 100%;
  max-width: 400px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.headingwrapperDivRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  color: #1a1a1a;
  font-size: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  width: fit-content;
  background-color: rgb(94, 175, 228);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #006666;
  transform: scale(1.05);
}

.button-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.button-icon:hover {
  transform: scale(1.2);
}

.contact-location .button-icon {
  font-size: 24px;
  color: red;
}

.contact-socialLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link-image {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.social-link-image:hover {
  transform: scale(1.2);
}

.get-in-touch {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.get-in-touch:hover {
  transform: translateY(-5px);
}

.get-in-touch h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: teal;
}

.get-in-touch p {
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

/* medium screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .headingwrapper {
    width: 90%;
  }

  .headingwrapperDivLeft img {
    max-width: 300px;
  }
}

/* small screens */
@media all and (max-width: 767px) {
  .headingwrapper {
    width: 90%;
  }

  .headingwrapperDiv {
    flex-direction: column;
    gap: 20px;
  }

  .headingwrapperDivLeft img {
    max-width: 100%;
  }

  .contact-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-button {
    width: 100%;
  }

  .contact-socialLink {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .get-in-touch {
    padding: 20px;
  }
}