
.navbar {
    width: 100%;
    background-color: rgb(69, 221, 255);
    position: fixed;
    z-index: 100;
    font-size: 18px;
    height: 50px;
    color: white;
  }
  
  .wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .wrapperLeft img {  
    border-radius: 8px;
    margin-left: 40px;
    width: 70px;
    cursor: pointer;
  }
  .wrapperLeft img:hover {
    /* border-bottom: 1px solid red; */
    /* background: linear-gradient(to right, #000000, #434343); */
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .wrapperRight {
    /* border: 1px solid red; */
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;

  }
  .wrapperRight > div {
    /* border: 1px solid red; */
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    padding: 6px 10px;
    font-weight: 600;
  }
  .wrapperRight > :nth-child(7) {
    /* border: 1px solid green; */
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    padding: 0 10px;
   
  }
  
  .wrapperRight > div:hover {
    color: rgb(0, 153, 255);
  }
  .navbar-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:10px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar-resume:hover {
    transition: all 0.3s ease-in-out;
  }
  
  .wrapperRight a:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .responce {
    display: none;
  }
  
  /*               medium size               */
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .responce {
      margin-right: 40px;
      display: none;
      font-size: 30px;
    }
  
    .drawerbody {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .drawerbody a:hover {
      cursor: pointer;
      color: #6a6a6a;
    }
  
    .navbar-resume {
      /* background-color: #1a1a1a; */
      color: white;
      padding: 15px;
    }
  
    .navbar-resume:hover {
      color: white;
      padding: 8px;
      background: linear-gradient(to right, #000000, #434343);
    }
  }
  @media all and (min-width: 280px) and (max-width: 767px) {
    .wrapperRight {
      display: none;
    }
  
    .responce {
      margin-right: 40px;
      display: block;
      font-size: 30px;
    }
  
    .drawerbody {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .drawerbody a:hover {
      cursor: pointer;
      color: #6a6a6a;
    }
  
    .navbar-resume {
      padding: 10px;
      background-color: #1a1a1a;
      color: white;
    }
    .navbar-resume:hover {
      color: white;
      padding: 8px;
      background: linear-gradient(to right, #000000, #434343);
    }
  }